<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="foot">
    <footer class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <p class="navbar-text pull-left"></p>
            <a class="btn btn-danger float-end"
               href="https://www.youtube.com/@OfficialPackt"
               target="_blank">Subscribe on Youtube</a>
        </div>
    </footer>
</div>

<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
