<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="foot">

    <footer class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <p class="navbar-text pull-left"></p>
<a class="btn btn-danger float-end" target="_blank" href="https://www.youtube.com/@OfficialPackt">Subscribe on Youtube</a>
        </div>
    </footer>

</div>

<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
