<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<body>
<div class="container">

    <div th:fragment="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" th:href="@{/}">myCalendar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item active"><a class="nav-link" id="navWelcomeLink" th:href="@{/}">Welcome</a></li>
                        <li class="nav-item"><a class="nav-link" id="navEventsLink" th:href="@{/events/}">All Events</a></li>
                        <li class="nav-item"><a class="nav-link" id="navMyEventsLink" th:href="@{/events/my}">My Events</a></li>
                        <li class="nav-item"><a class="nav-link" id="navCreateEventLink" th:href="@{/events/form}">Create Event</a></li>
                        <li class="nav-item"><a class="nav-link" id="navH2Link" target="_blank" th:href="@{/admin/h2}">H2</a></li>
                    </ul>

                </div>
            </div>
        </nav>
    </div>

    <!-- Standard messages -->
    <div th:if="${#vars['message'] != null}" class="alert alert-success">
        <span th:text="${#vars['message']}"></span>
    </div>
    <div th:if="${#vars['error'] != null}" class="alert alert-danger">
        <span th:text="${#vars['error']}"></span>
    </div>

</div>

</body>
</html>
